<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flicks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D26036381C42E8BE00A9F431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D260364C1C42E8BF00A9F431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D26036571C42E8BF00A9F431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
